.post{
    width: 385px;
    margin: 0 25px 40px 25px;
}
.postImg{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}
.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postCat{
    font-family:"Varela Round", serif;
    font-size: 11px;
    color: #be9656;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}
.postTitle{
    font-family: "Josefin Sans", serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;cursor: pointer;
}
.postDate{
    font-family: "Lora",serif;
    font-size: 13px;
    font-style: italic;
    color: #999;
    margin-top: 15px;
    float: right;
}
.postDesc{
    font-family:"Varela Round", serif ;
    font-size: 14px;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.card{
    background-image: url("../../Images/hunger.jpg");
    background-size: cover;
    padding: 10rem 0 0;
    color: #fff;
    /* max-width: 35ch; */
    overflow: hidden;
    border-radius: 0.5rem;
    transition: transform 500ms ease;
}
.card:hover{
    transform: scale(1.05);
}
.card-content{
    --padding:1.5rem;
    padding:var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.4) 10%,
        hsl(0 0% 0% / 1)
    )
}
.card-title{
    font-family: "Josefin Sans", serif;
    position: relative;
    width: max-content;
    max-width: 100%;
}
.card-title::after{
    content: '';
    position: absolute;
    height: 4px;
    background: #be9656;
    width: calc(100% + var(--padding));
    left: calc(var(--padding) * -1);
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
    
}
.card:hover .card-title::after{
    transform: scaleX(1);
}
.card-body{
    color: rgb(255 255 255 / 0.5);
    font-family:"Varela Round", serif ;
}
.button{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-radius: 0.25em;
    background-color: #be9656;
    padding: 0.5em 1em;
    color:#fff;
}
.button:hover, .button:focus{
    background-color: #e6d8c1;
    color:#44361f;

}